/* Home page styles */
.container-fluid img {
  width: 70px;
  height: auto;
}
.logo-skyeagle {
  color: white;
  border-radius: 10px;
  padding: 5px 10px;
  margin-left: 10px;;
}
.slider {
  position: relative;
  width: 80%;
  max-width: 700px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}
.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}
.slides img {
  width: 100%;
  border-radius: 10px;
}

/* RESPONSIVE LOGO */
.skyeagle-logo-img {
  width: 60px;
}

/* CARD IMAGE FIX */
.card img {
  height: 250px;
  border-radius: 10px;
  object-fit: cover;
}
.card{
  display: flex;
  gap: 10px;
}
/* HERO TEXT MOBILE */
@media (max-width: 768px) {
  .slider {
    width: 100%;
  }
  .align-items-center{
    gap: 25px;
  }
  .logo-skyeagle h2 {
    font-size: 18px;
    margin-bottom: 0;
  }
}

/*About page styles */
.card {
  height: 100%;
  border: none;
  box-shadow: 0 4px 15px rgba(0,0,0,0.15);
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-8px);
}
.card-container {
  padding: 0 16px;
}

.title {
  color: grey;
}

/*Products page styles */
.card h6 {
  margin-top: 10px;
}
.card p {
  margin-bottom: 10px;
}

/* SEARCH BAR */
#search {
  max-width: 400px;
  margin: auto;
}

/*Dark mode toggle */
.dark-mode {
    background-color: #121212;
    color: white;
}

.dark-mode .card {
    background-color: #1e1e1e;
    color: white;
}

.dark-mode .navbar {
    background-color: #000 !important;
}

.dark-mode a {
    color: #ddd !important;
}

/* Wishlist icon */
.wishlist-icon {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 20px;
    color: #bbb;
    cursor: pointer;
    transition: 0.3s;
    z-index: 10;
}

.wishlist-icon:hover {
    color: red;
    transform: scale(1.2);
}