
        .cont{
            max-width: 700px;
            margin: auto;
            background-color: white;
            padding: 30px;
            border-radius: 15px;
            background-color: rgb(94, 126, 135);
            padding: 40px;
        }
        h2{
            text-align: center;
            margin-bottom: 25px;
            font-weight: bold;
        }
        .formRow{
            margin-bottom: 20px;
        }
        label{
            display: block;
            font-weight: bold;
            color: rgb(31, 84, 86)
        }
        input[type=text],
        input[type=email],
        input[type=password],
        input[type=confirmedPassword]
        select,textarea{
            width: 100%;
            margin-top: 10px;
            margin-bottom: 10px;
            height: 40px;
        }
        .buttons{
            display: flex;
            justify-content: center;
            gap: 20px;
        }
        button{
            background-color: cadetblue;
            color: white;
            padding: 20px;
            border: none;
            border-radius: 10px;
            font-size: 15px;
        }
        button:hover {
             background-color: darkcyan;
        }
        @media (max-width: 768px) {
    .formRow {
        flex-direction: column; /* stack inputs */
    }

    .buttons {
        flex-direction: column; /* stack buttons */
    }
}