
.card {
  height: 100%;
  border: none;
  box-shadow: 0 4px 15px rgba(0,0,0,0.15);
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-8px);
}
.card-container {
  padding: 0 16px;
}

.title {
  color: grey;
}
